<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Añadir Vehículos de Guerra</title>
		<link rel="stylesheet" th:href="@{/styles/index_style.css}">
	</head>

	<body>
		<fieldset>
			<form th:action="@{/guerra/anadir2}" th:object="${vehiculo}" method="post">
				<label>Nombre<input type="text" th:field="*{nombre}"></label>
				<label>Puntos de vida<input type="number" value="1200" readonly="readonly"></label>
				<label>Ataque<input type="number"></label>
				<label>Defensa<input type="number"></label>
				<label>Tipo
					<select th:field="*{tipo}" required>
						<option value="" disabled selected>Selecciona una opción</option>
						<option value="Destructor">Destructor</option>
						<option value="Tanque">Tanque</option>
					</select>
				</label>
				<button type="submit">Enviar</button>
			</form>
		</fieldset>
	</body>